body {
    margin: 0;

    color: white;
    font-family: "Roboto", serif;
}

#logo_image {
    position: absolute;
}

#top_header {
    height: 300px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("images/header_background.png");
    background-size: cover;
    background-position: center;

    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);
}