#top_header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("images/header_background.png");
    background-size: cover;
    background-position: center;
}