/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

body {
    margin: 0;
    margin-bottom: 10px;
    background-color: #2B2B2B;

    color: white;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 5px;
    font-weight: 900;
    font-size: 60px;
}

h2 {
    margin: 5px;
    font-weight: 700;
    font-size: 25px;
}

h3 {
    margin: 0;
    color: black;
    font-size: 22px;
    border-style: none none none solid;
    padding-left: 10px;
    border-width: 4px;
    border-color: #484CA4;
}

.secondary_article h3 {
    color: white;
    border-style: none;
    padding: 0;
    text-decoration-line: underline;
}

h4 {
    color: black;
    font-size: 20px;
    margin: 0;
    transition: color 0.3s
}

p {
    color: black;
    font-size: 15px;
    margin: 0;
    transition: color 0.3s;
}

hr {
    margin: 0;
    border: 4px solid #5E7C16;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 7%;
    margin-right: 7%;
    margin-top: 40px;

    background-color: white;
    border-radius: 15px;

    padding: 25px;
}

.article_list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.article_element {
    border-radius: 5px;
    margin-left: 25px;
    transition: background-color 0.3s, padding 0.3s;
}

.article_element:hover {
    padding: 5px;
    background-color: #5E7C16;
    transition: background-color 0.3s, padding 0.3s;
}

.article_element:hover h4, .article_element:hover p {
    color:white;
    transition: color 0.3s;
}

.article_list .article_element:first-child, .article_list .secondary_article_element:first-child {
    margin-left: 0px;
}

.article_thumbnail {
    width: 100%;
    border-radius: 5px;
}

.article_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary_article_element:hover h4 {
    color: #5E7C16;
    transition: color 0.3s;
}

.article_element .right_chevron {
    margin-right: 2px;
}

.article_element .right_chevron path {
    fill: white;
}

.secondary_article_element .right_chevron {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.right_chevron path {
    transition: fill 0.3s;
}

.secondary_article_element:hover .right_chevron path {
    fill: #5E7C16;
    transition: fill 0.3s;
}

.secondary_article {
    padding: 0;
    background-color: transparent;
}

.secondary_article_element {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    
    width: 100%;
    margin-left: 25px;    

    border-radius: 10px 5px 5px 10px;
}

.article_icon {
    height: 100%;
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px 0 0 5px;
    font-family: "Noto Emoji", sans-serif;
    background-color: #484CA4;
    font-size: 24px;
}

#logo_image {
    position: absolute;
    width: 10%;
    padding-top: 10px;
    padding-left: 30px;
}

#top_header {
    height: 300px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("images/header_background.png");
    background-size: cover;
    background-position: center;

    box-shadow: inset 0 0 0 10000px rgba(30, 30, 30, 0.6);
}

#bottom_image {
    margin-top: 60px;
    margin-bottom: 100px;
    align-self: center;
    width: 15%;
}