body {
    margin: 0;

    background-color: #2B2B2B;

    color: white;
    font-family: "Roboto", sans-serif;
}

h1 {
    margin: 5px;
    font-weight: 900;
    font-size: 60px;
}

h2 {
    margin: 5px;
    font-weight: 700;
    font-size: 25px;
}

h3 {
    color: black;
    font-size: 22px;
    border-style: none none none solid;
    padding-left: 10px;
    border-width: 4px;
    border-color: #484CA4;
}

hr {
    margin: 0;
    border: 4px solid #5E7C16;
}

article {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    margin-left: 7%;
    margin-right: 7%;
    margin-top: 40px;

    background-color: white;
    border-radius: 15px;

    padding: 25px;
}

#logo_image {
    position: absolute;
    width: 10%;
    padding-top: 10px;
    padding-left: 30px;
}

#top_header {
    height: 300px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("images/header_background.png");
    background-size: cover;
    background-position: center;

    box-shadow: inset 0 0 0 10000px rgba(30, 30, 30, 0.6);
}